/*Fuente*/
@font-face {
    font-family: 'dancing';
    src: url(./static/DancingScript-Regular.ttf);
}

@font-face {
    font-family: 'mont';
    src: url(./static/Montserrat-Medium.ttf);
}

*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    background-color: #f8f4f8;
    display: flex;
}

#header-mobile{
     display: none;
}

/*Contenedor del logo que esta en el header*/
.header__logo-container{
    margin-left: 1rem;
}

/*Logo*/
.header__logo{
 height: 5rem;
}

/*Contenedor del nombre de la empresa(Romeo y Julieta) que está en el header al lado del logo*/
.header__nombre-container{
  padding-top: 1rem;
  margin-left: 0.5rem;
  font-family: 'dancing';
  font-size: 1.8em;
}

/*clase del span de Romeo*/
.header__span-romeo{
  color: #51e6d7;
}

/*clase del span de y*/
.header__span-y{
  color: #ef86c7;
}

/*clase del span de Julieta*/
.header__span-julieta{
  color: #ff3131;
}

/*clase del contenedor del input y el icono de lupa que están en el header*/

.header__buscador{
  margin-top: 1.5rem;
  margin-left: 6.2rem;
  position: relative;
  display: inline-block;
  width: 35%;
}


#check-buscador{
    display: none;
}

  #menu-check{
    display: none;
  }

#mostrar-menu{
   display: none;
}


/*Estilos del input*/
.header__buscador input[type="search"] {
  width: 100%;
  padding: 0.8rem 0.8rem 0.8rem 2.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

/*Estilos del icono de la lupa*/

.header__buscador #icon-search {
  position:absolute;
  font-size: 1em;
  color: #999;
  top: 0.6rem;
  left: 0.6rem;
}

/*clase del contenedor de los iconos que están en el header al lado del input*/
.header__iconos-container{
    padding-top: 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: 10%; /* Alinear a la derecha */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*height y margin de los iconos que están en el header*/
.header__iconos-container img{
  height: 2.5rem;
  margin-left: 1.1rem;

}

#nav-mobile{
    display: none;
}

nav{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: #df6eb3;
    
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav a{
    font-size: 1.2em;
    margin-left: 0.3rem;
    color: #f5f5f5;
    font-family: 'mont'; 
    font-weight: bold;
}

/*Clases de los enlaces del nav, se le dá un borde a la izquierda y padding*/
.categorias, .inf, .contacto, .acerca_de, .ubicación, .colecciones{
    padding-left: 0.5rem;
}

/*menu desplegable de categorias*/

nav > ul > li > #menu-categorias{
    display: none;
    position: absolute;
    width: 9.5rem;
    z-index: 200;  
}

nav ul li:hover #menu-categorias{
      display: block;
      margin-left: 0.5rem;  
}

nav > ul > li:hover > #menu-categorias > li{
    background-color: #df6eb3;
    border-bottom: 0.1rem solid white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    transition: 0.8s;
}

nav > ul > li:hover > #menu-categorias > li:hover{
    cursor: pointer;
    background-color: #ef86c7;
}

/*menu desplegable de acerca de*/

#menu-acerca-de{
    display: none;
    position: absolute;
    width: 9.5rem;
    z-index: 200; 
}

nav > ul > li:hover > #menu-acerca-de{
     display: block;  
    
}

nav > ul > li:hover > #menu-acerca-de > li{
    background-color: #df6eb3;
    border-bottom: 0.1rem solid white;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.8rem;
    transition: all 0.8s;
}

nav > ul > li > #menu-acerca-de > li:hover{
    background-color: #ef86c7;
    cursor: pointer;
}

/*ID del div que contiene dos h1 y un h5 color blanco(está justo abajo del header)*/
 
 .main__div-up{
     background-color: #28dbc9;
     position: relative;
     height: 8rem;
 }
 
 .main__corazones{
     width: 100%;
     height: 10rem;
     z-index: 1;
     position: absolute;
     top: -300%;
     animation: aparecer-derecha;
 animation-duration: 1s;
 animation-delay: 0.5s;
 animation-direction: normal;
 animation-iteration-count: 1;
 animation-timing-function: ease-out;
 animation-fill-mode: forwards;
 }



 @keyframes aparecer-derecha{
    from{
     top: -300%;
    }
  
    to{
      top: 0;
    }
  }
 
 .div__sections{
     display: flex;
     height: 45rem;
     padding: 2.5rem; 
     position: relative;
     z-index: 30;
 }
 

 .main__section-1{
     width: 60%;
     height: 41rem;
 }
 
 .section-1__h1{
     color: #00d1bc;
     text-align: center;
     font-size: 2.2em;
     font-family: 'mont';
     margin-bottom: 0.8rem;
 }
 
 .div-1__div{
     display: flex;
 }
 
 .section-1__p{
     font-family: 'mont';
     font-size: 0.9em;
 }
 
 .div-1__img{
     align-self: center;
     height: 8rem;
 }
 
 .section-1__div-2{
     margin-top: 2rem;
 }
 
 .div-2__h2{
     color: #555555;
     font-family: 'mont';
     font-size: 1.5em;
 }
 
 .div-2__div{
     display: flex;
 }
 
 .div-2__p{
   font-family: 'mont';
   font-size: 0.9em;
 }
 
 .div-2__img{
     height: 8rem;
 }
 
 .section-1__div-3{
     margin-top: 2rem;
 }
 
 .div-3__h2{
     color: #555555;
     font-family: 'mont';
     font-size: 1.5em;
 }
 
 .div-3__div{
     display: flex;
 }
 
 .div-3__p{
     font-family: 'mont';
     font-size: 0.9em;
 }
 
 .div-3__img{
     height: 8rem;
     align-self: center;
     position: relative;
     z-index: 1;
 }
 
 .main__section-2{
     width: 40%;
     height: 41rem;
     position: relative;
 }
 
 .section-2__img-1{
     height: 25rem;
     position: absolute;
     top: 10rem;
     left: 0;
     right: 0;
     bottom: 3rem;
     margin: auto;
     z-index: 5;
 }
 
 .section-2__img-2{
     height: 35rem;
     width: 28rem;
     position: absolute;
     top: 6rem;
     right: -2rem;
     z-index: 1;
 }

 
footer{
    background-color: #fdecff;
    height: 6.5rem;
    padding: 1rem;
}

.footer__img{
    width: 100%;
    height: 1.8rem;
}

.footer__div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin-top: 0.1rem;
}

.footer__h3{
    color: #424242;
    font-family: 'dancing';
    font-size: 2em;
}

.footer__icon-1{
    margin-left: 2rem;
}

.footer__icon{
    margin-left: 1rem;
}

@media screen and (min-width:1023px) and (max-width:1246px){

    /*Contenedor del logo que esta en el header*/
    .header__logo-container{
        height: 5rem;
        margin-left: 0.5rem;
        align-self: center;
    }
    
    
    /*Contenedor del nombre de la empresa(Romeo y Julieta) que está en el header al lado del logo*/
    .header__nombre-container{
        align-self: center;
        height: 3rem;
        display: flex;
        align-items: center;
        width: 14rem;
        padding-bottom: 1rem;
        margin-left: 0.5rem;
        font-family: 'dancing';
        font-size: 1.5em;
      }
    
      
    .header__buscador{
        height: 3rem;
        margin-top: 1.5rem;
        margin-left: 4rem;
        position: relative;
        display: inline-block;
        width: 35%;
      }
      
      
    /*clase del contenedor de los iconos que están en el header al lado del input*/
    .header__iconos-container{
        align-self: center;
        margin-left: 5%; /* Alinear a la derecha */
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /*height y margin de los iconos que están en el header*/
    .header__iconos-container img{
      height: 2.5rem;
    }
    
    nav a{
        font-size: 1.1em;
        margin-left: 0.3rem;
        color: #f5f5f5;
        font-family: 'mont'; 
        font-weight: bold;
    }
    
    /*menu desplegable de acerca de*/
    
    #menu-acerca-de{
        display: none;
        position: absolute;
        width: 8rem;
        z-index: 100; 
    }
    
}

@media screen and (min-width:360px) and (max-width:600px){
    header{
        display: none;
    }

    #header-mobile{
        display: block;
        display: flex;
        border-bottom: solid #141223 1px;
    }

    .header-mobile__logo-container{
        margin-left: 10px;
    }

    .header-mobile__logo{
        height: 70px;
    }

    .header-mobile__buscador{
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
    }

    #check-buscador{
        display: none;
    }

    #check-buscador:checked ~ #buscador__container{
        left: 0;
    }

    #buscador__container{
         display: flex;
         justify-content: center;
         background-color: #ffb7e3;
         position: fixed;
         height: 100%;
         z-index: 2000;
         width: 100%;
         left: -100%;
         transition: all 0.5s;
    }

    #container-div{
        height: 5rem;
        width: 100%;
        position: relative;
    }

    #esconder-buscador{
        position: absolute;
        top: -8px;
        right: 10px;
        font-size: 3em;
    }

    #container-icon{
        position: absolute;
        top: 2.8rem;
        left: 1.9rem;
    }
    
    #container__input{
        margin-top: 2.5rem;
        margin-left: 1.5rem;
        width: 90%;
        height: 2.5rem;
        padding: 0.8rem 0.8rem 0.8rem 2.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
      }
   
      #container__input::placeholder{
        font-family: 'mont';
      }

      #header-mobile__iconos-container{
          
           display: flex;
           justify-content: space-between;
           align-items: center;
           margin-left: 2rem;
           width: 10rem;
      }

      #header-mobile__iconos-container img{
        height: 30px;

      }

      #mostrar-menu__container{
        display: flex;
        top: 0;
        right: 12px;
        align-items: center;
        margin-left: 20px;
        position:absolute;
      }

      #menu-check{
        display: none;
      }

      #menu-check:checked ~ #nav-mobile{
           left: 0;
      }

      #mostrar-menu{
        display: block;
          font-size: 50px;
          margin-top: 6px;
      }

      #esconder-menu{
        position: absolute;
        top: -0.5rem;
        right: 1rem;
        font-size: 3em;
      }

      #nav-desktop{
        display: none;
      }

      #nav-mobile{
          display: block;
          position: fixed;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2000;
          display: flex;
          align-items: center;
          flex-direction: column;
          left: -100%;
          transition: all 0.5s;
          background-color: #df6eb3;
      }

      #nav-mobile__ul{
        display: flex;
        flex-direction: column;
        height: 25rem;
        text-align: center;
        position: relative;
      }
      
         
      .flecha{
        height: 12px;
      }

      .summary{
        color: #f5f5f5;
        font-family: 'mont';
        font-weight: bold;
        font-size: 1.3em;
      }

      .summary__li{
        margin-top: 0.8rem;
      }
      
    .main__div-up{
        height: 4rem;
    }

    .main__corazones{
        height: 5rem;
    }

    .main__section-2{
        display: none;
    }

    .div__sections{
        margin-top: 1rem;
        display: flex;
        height: 100%;
        padding: 1rem; 
    }
  
    .main__section-1{
        width: 100%;
        height: 100%;
    }

   .div-2__img{
    align-self: center;
   }
} 

@media screen and (min-width:601px) and (max-width:770px){

    header{
        display: none;
    }

    #header-mobile{
        display: block;
        display: flex;
        border-bottom: solid #141223 1px;
    }

    .header-mobile__logo-container{
        margin-left: 20px;
    }

    .header-mobile__logo{
        height: 80px;
    }

    .header-mobile__buscador{
        margin-left: 3rem;
        display: flex;
        align-items: center;
    }

    #check-buscador{
        display: none;
    }

    #check-buscador:checked ~ #buscador__container{
        left: 0;
    }

    #buscador__container{
         display: flex;
         justify-content: center;
         background-color: #ffb7e3;
         position: fixed;
         height: 100%;
         z-index: 2000;
         width: 100%;
         left: -100%;
         transition: all 0.5s;
    }

    #container-div{
        height: 5rem;
        width: 100%;
        position: relative;
    }

    #esconder-buscador{
        position: absolute;
        top: -8px;
        right: 10px;
        font-size: 3em;
    }

    #container-icon{
        position: absolute;
        top: 2.8rem;
        left: 1.9rem;
    }
    
    #container__input{
        margin-top: 2.5rem;
        margin-left: 1.5rem;
        width: 90%;
        height: 2.5rem;
        padding: 0.8rem 0.8rem 0.8rem 2.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
      }
   
      #container__input::placeholder{
        font-family: 'mont';
      }

      #header-mobile__iconos-container{
           display: flex;
           justify-content: space-between;
           align-items: center;
           margin-left: 3rem;
           width: 15rem;
      }

      #header-mobile__iconos-container img{
        height: 30px;
      }


      #mostrar-menu__container{
        display: flex;
        top: 0;
        right: 12px;
        align-items: center;
        margin-left: 20px;
        position:absolute;
      }

      #menu-check{
        display: none;
      }

      #menu-check:checked ~ #nav-mobile{
           left: 0;
      }

      #mostrar-menu{
        display: block;
          font-size: 70px;
          margin-top: 5px;
                }

      #esconder-menu{
        position: absolute;
        top: -0.5rem;
        right: 1rem;
        font-size: 3em;
      }

      #nav-desktop{
        display: none;
      }

      #nav-mobile{
          display: block;
          position: fixed;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2000;
          display: flex;
          align-items: center;
          flex-direction: column;
          left: -100%;
          transition: all 0.5s;
          background-color: #df6eb3;
      }

      #nav-mobile__ul{
        display: flex;
        flex-direction: column;
        height: 25rem;
        text-align: center;
        position: relative;
      }
      
    
      .flecha{
        height: 12px;
      }

      .summary{
        color: #f5f5f5;
        font-family: 'mont';
        font-weight: bold;
        font-size: 1.3em;
      }

      .summary__li{
        margin-top: 0.8rem;
      }
      

    .main__div-up{
        height: 4rem;
    }

    .main__corazones{
        height: 5rem;
    }

    .main__section-2{
        display: none;
    }

    .div__sections{
        margin-top: 1rem;
        display: flex;
        height: 100%;
        padding: 1rem; 
    }
  
    .main__section-1{
        width: 100%;
        height: 100%;
    }

    #main h1{
        font-size: 3em;
    }

    #main h2{
        font-size: 1.4em;
    }

    #main p{
        font-size: 1.4em;
    }

   .div-2__img{
    align-self: center;
   }

       
footer{
    background-color: #fdecff;
    height: 10rem;
    padding: 2rem;
}

.footer__img{
    width: 100%;
    height: 2.2rem;
}

.footer__div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin-top: 1rem;
}

.footer__div img{
    height: 1.5rem;
}

.footer__h3{
    font-size: 3em;
}

.footer__icon-1{
    margin-left: 2rem;
}

.footer__icon{
    margin-left: 1rem;
}
}


@media screen and (min-width:771px) and (max-width:1022px){

    header{
        display: none;
    }

    #header-mobile{
        display: block;
        display: flex;
        border-bottom: solid #141223 1px;
    }

    .header-mobile__logo-container{
        margin-left: 20px;
    }

    .header-mobile__logo{
        height: 80px;
    }

    .header-mobile__buscador{
        margin-left: 3rem;
        display: flex;
        align-items: center;
    }

    #check-buscador{
        display: none;
    }

    #check-buscador:checked ~ #buscador__container{
        left: 0;
    }

    #buscador__container{
         display: flex;
         justify-content: center;
         background-color: #ffb7e3;
         position: fixed;
         height: 100%;
         z-index: 2000;
         width: 100%;
         left: -100%;
         transition: all 0.5s;
    }

    #container-div{
        height: 5rem;
        width: 100%;
        position: relative;
    }

    #esconder-buscador{
        position: absolute;
        top: -8px;
        right: 10px;
        font-size: 3em;
    }

    #container-icon{
        position: absolute;
        top: 2.8rem;
        left: 1.9rem;
    }
    
    #container__input{
        margin-top: 2.5rem;
        margin-left: 1.5rem;
        width: 90%;
        height: 2.5rem;
        padding: 0.8rem 0.8rem 0.8rem 2.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
      }
   
      #container__input::placeholder{
        font-family: 'mont';
      }

      #header-mobile__iconos-container{
           display: flex;
           justify-content: space-between;
           align-items: center;
           margin-left: 5rem;
           width: 20rem;
      }

      #header-mobile__iconos-container img{
        height: 30px;
      }


      #mostrar-menu__container{
        display: flex;
        top: 0;
        right: 12px;
        align-items: center;
        margin-left: 20px;
        position:absolute;
      }

      #menu-check{
        display: none;
      }

      #menu-check:checked ~ #nav-mobile{
           left: 0;
      }

      #mostrar-menu{
        display: block;
          font-size: 70px;
          margin-top: 5px;
                }

      #esconder-menu{
        position: absolute;
        top: -0.5rem;
        right: 1rem;
        font-size: 3em;
      }

      #nav-desktop{
        display: none;
      }

      #nav-mobile{
          display: block;
          position: fixed;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2000;
          display: flex;
          align-items: center;
          flex-direction: column;
          left: -100%;
          transition: all 0.5s;
          background-color: #df6eb3;
      }

      #nav-mobile__ul{
        display: flex;
        flex-direction: column;
        height: 25rem;
        text-align: center;
        position: relative;
      }
    
      .flecha{
        height: 12px;
      }

      .summary{
        color: #f5f5f5;
        font-family: 'mont';
        font-weight: bold;
        font-size: 1.3em;
      }

      .summary__li{
        margin-top: 0.8rem;
      }
      
      
    .main__div-up{
        height: 4rem;
    }

    .main__corazones{
        height: 5rem;
    }

    .main__section-2{
        display: none;
    }

    .div__sections{
        margin-top: 1rem;
        display: flex;
        height: 100%;
        padding: 1rem; 
    }
  
    .main__section-1{
        width: 100%;
        height: 100%;
    }

    #main h1{
        font-size: 3em;
    }

    #main h2{
        font-size: 1.4em;
    }

    #main p{
        font-size: 1.4em;
    }

   .div-2__img{
    align-self: center;
   }

       
footer{
    background-color: #fdecff;
    height: 10rem;
    padding: 2rem;
}

.footer__img{
    width: 100%;
    height: 2.2rem;
}

.footer__div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin-top: 1rem;
}

.footer__div img{
    height: 1.5rem;
}

.footer__h3{
    font-size: 3em;
}

.footer__icon-1{
    margin-left: 2rem;
}

.footer__icon{
    margin-left: 1rem;
}
}


